<style>
  .using-flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    height: 80vh;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  /* Floating button */
  #logScrollInfo {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  /* scroll to top button */
  #top {
    position: fixed;
    bottom: 40px;
    right: 10px;
  }
</style>

<button id="top" (click)="scrollToTop()">Scroll to the top ^</button>
<button id="logScrollInfo" (click)="logScrollInfo()">Log the Info about the Scroll</button>
<div class="container">
  <h1>Infinite Scroll</h1>
  <div id="content" appInfiniteScroll (reachedBottom)="onReachedBottom()">
    <div class="item using-flexbox-container">Item 1</div>
    <div class="item using-flexbox-container">Item 2</div>
    <div class="item using-flexbox-container">Item 3</div>
    <div class="item using-flexbox-container">Item 4</div>
    <div class="item using-flexbox-container">Item 5</div>
    <div class="item using-flexbox-container">Item 6</div>
    <div class="item using-flexbox-container">Item 7</div>
    <div class="item using-flexbox-container">Item 8</div>
    <div class="item using-flexbox-container">Item 9</div>
    <div class="item using-flexbox-container">Item 10</div>
    <div class="item using-flexbox-container">Item 11</div>
    <div class="item using-flexbox-container">Item 12</div>
    <div class="item using-flexbox-container">Item 13</div>
    <div class="item using-flexbox-container">Item 14</div>
    <div class="item using-flexbox-container">Item 15</div>
  </div>
</div>

<router-outlet />